<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.study.first_project.DAO.FirstDAO">
    <select id="selectMmbrList" resultType="MmbrVO">
        select *
        from mmbr
    </select>

    <insert id="insertMember" parameterType="com.study.first_project.VO.MmbrVO">
        INSERT INTO mmbr (mmbr_id, mmbr_pwd, mmbr_nm, mmbr_join_dtm)
        VALUES (#{mmbrId}, #{mmbrPwd}, #{mmbrNm}, now())
    </insert>
</mapper>
